body {
  font-family: "Quicksand", sans-serif;
}

.container-fill {
  height: 100vh;
}

.form-input {
  margin-bottom: 15px;
}

.form-button {
  margin-bottom: 15px;
}

@media all and (max-width: 576px) {
  .hide-sm {
    display: none;
  }
}
