@import "../../variables.scss";

.movie-view {
  min-height: 100vh;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(180deg, rgba(35, 35, 40, 1) 3.1%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 100%);
  border-radius: 0;
}

.movie-view__heading {
  color: $text-on-p;
  margin-bottom: 30px;
}

.movie-poster {
  width: 100%;
}
.movie-view__trailer {
  width: 100%;
  height: 100%;
  background-color: gray;
  text-align: center;
}

.movie-view__info {
  padding-top: 10px;
  padding-bottom: 100px;
}

.movie-desc__holder {
  margin-top: 10px;
}

.movie-desc__label {
  font-weight: 500;
  display: inline-block;
}

.movie-desc__value {
  font-weight: 400;
  display: inline-block;
  margin-left: 10px;
}
