.sort-column {
  display: flex;
  align-items: center;
  padding-right: 0;

  &__label {
    flex: 0 1 content;
    margin-bottom: 0;
    padding-right: 10px;
  }

  &__select {
    flex: 1 1 auto;
  }
}
